$header-height: 5rem;
$footer-height: 4rem;
$bg-color: #f2ecde;

@font-face {
  font-family: amatic;
  src: url('./Fonts/Amatic_SC/AmaticSC-Regular.ttf');
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  font-family: 'amatic';
}

.App {
  text-align: center;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25pt;  
}

h1 {
  font-style: italic;
}

.rtl {
  direction: rtl;
}

.form-select.rtl {
  background-position: left 0.75rem center;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.custome-header {
  height: $header-height;
}


@media only screen and (max-width: 768px) {
  form {
    width: 75%;
    margin: auto;
  }
}

@keyframes submit-insert {
  from {
    transform: scale(0);
    opacity: 0;
  }

  75% {
    transform: scale(1.2);
    opacity: 1;
  }

  to {
    transform: scale(1);
  }
}

.submit-btn {
  animation: submit-insert 0.3s linear;
}

.modal-content {
  height: 20rem;
  border-radius: 2rem;
}

.bg {
  background-size: contain;
  height: 113px;

  @media only screen and (min-width: 768px) {
    height: 99px;
  }
}

header.bg {
  background-image: url('./Images/TopFlowers.png');

  @media only screen and (min-width: 768px) {
    background-image: url('./Images/TopDesktop.png');
  }
}

footer.bg {
  background-image: url('./Images/BottomFlowers.png');

  @media only screen and (min-width: 768px) {
    background-image: url('./Images/BottomDesktop.png');
  }
}
