$header-height: 5rem;
$footer-height: 4rem;
$bg-color: #f2ecde;

@font-face {
  font-family: amatic;
  src: url('./Fonts/Amatic_SC/AmaticSC-Regular.ttf');
}

html,
body,
#root,
.App {
  height: 100%;
  font-family: 'amatic';
}

.App {
  text-align: center;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 1;

  ::before {
    content: '';
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;

    @media only screen and (min-width: 769px) {
      background-size: contain;
    }
  }
}

h1 {
  font-style: italic;
}

.rtl {
  direction: rtl;
}

.form-select.rtl {
  background-position: left 0.75rem center;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.custome-header {
  height: $header-height;
}

.we-cute {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

  object-fit: contain;
  max-height: 100vh;

  @media only screen and (max-width: 991px) {
    opacity: 0.4;
    z-index: -1;
  }

  @media only screen and (min-width: 992px) {
    border-radius: 10%;
    box-shadow: inset 0 0px 4px 4px black;
  }
}

@media only screen and (max-width: 768px) {
  form {
    width: 75%;
    margin: auto;
  }
}

@keyframes submit-insert {
  from {
    transform: scale(0);
    opacity: 0;
  }

  75% {
    transform: scale(1.2);
    opacity: 1;
  }

  to {
    transform: scale(1);
  }
}

.submit-btn {
  animation: submit-insert 0.3s linear;
}
